<%- include("header") -%>

    <h2>This is the about page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem harum ad sunt incidunt eius assumenda.</p>

    <%- include("footer") -%>